<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informations
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-card>
    <ion-card-subtitle>Août 2022</ion-card-subtitle>
    <ion-title>
      Mon application de consultation de livres
    </ion-title>
    <ion-card-content>
      <p>Il s'agit de Travaux Pratiques sur le framework Ionic.</p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-title>
      La consigne :
    </ion-title>
    <ion-card-content>
      <p>Vous devez créer une application de consultation de livres.</p>
      <p>L'application aura:</p>
      <ion-list>
        <ion-item>
          Un splash screen (page temporaire au démarrage de l'application)
        </ion-item>
        <ion-item>
          Une page d'accueil
        </ion-item>
        <ion-item>
          Une page listant les livres par titre
        </ion-item>
        <ion-item>
          Une page permettant de consulter les détails d'un livre
        </ion-item>
        <ion-item>
          Une page d'information (auteur de l'application, etc)
        </ion-item>
        <ion-item>
          Un menu latéral permettant de naviguer entre les différentes pages (accueil, liste et infos)
        </ion-item>
      </ion-list>
      <p>PS: N'hésitez pas à y aller étape par étape. Par exemple, si vous ne savez pas encore créer un splash screen,
        commencer par les pages faciles.</p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-title>
      Centre de formation:
    </ion-title>
    <ion-card-content>
      <p>ORT Toulouse</p>
    </ion-card-content>
    <ion-title>
      Professeur:
    </ion-title>
    <ion-card-content>
      <p>Dwaps</p>
    </ion-card-content>
    <ion-title>
      Élève:
    </ion-title>
    <ion-card-content>
      <p>Angela Cruz</p>
    </ion-card-content>
  </ion-card>


</ion-content>